@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}
